<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
 
   <extension
         point="org.eclipse.ui.views">
      <category
            name="RegEx Tester"
            id="org.eclipse.ui.regex.cat">
      </category>
      <view
            name="RegEx Tester"
            icon="icons/e.gif"
            category="org.eclipse.ui.regex.cat"
            class="org.eclipse.ui.regex.view.RegExView"
            id="org.eclipse.ui.regex.view.RegExView">
      </view>
   </extension>
   
      
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="RegEx Tester"
            class="org.eclipse.ui.regex.view.RegExPreferencePage"
            id="org.eclipse.ui.regex.view.RegExPreferencePage">
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Fonts"
            class="org.eclipse.ui.regex.view.FontPreferencePage"
            id="org.eclipse.ui.regex.view.FontPreferencePage"
            category="org.eclipse.ui.regex.view.RegExPreferencePage">
            
      </page>
   </extension>
  

</plugin>
