<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="com.brosinski.eclipse.regex"
   name="RegEx Plug-in"
   version="1.3.1"
   provider-name="Stephan Brosinski"
   class="com.brosinski.eclipse.regex.RegExPlugin">

   <runtime>
      <library name="regextester.jar">
         <export name="*"/>
      </library>
   </runtime>
   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.ui.ide"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
   </requires>
 
   <extension
         point="org.eclipse.ui.views">
      <category
            name="RegEx Tester"
            id="com.brosinski.eclipse.regex.cat">
      </category>
      <view
            name="RegEx Tester"
            icon="icons/e.gif"
            category="com.brosinski.eclipse.regex.cat"
            class="com.brosinski.eclipse.regex.view.RegExView"
            id="com.brosinski.eclipse.regex.view.RegExView">
      </view>
   </extension>
   
      
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="RegEx Tester"
            class="com.brosinski.eclipse.regex.view.RegExPreferencePage"
            id="com.brosinski.eclipse.regex.view.RegExPreferencePage">
      </page>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Fonts"
            class="com.brosinski.eclipse.regex.view.FontPreferencePage"
            id="com.brosinski.eclipse.regex.view.FontPreferencePage"
            category="com.brosinski.eclipse.regex.view.RegExPreferencePage">
            
      </page>
   </extension>
  

</plugin>
